<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutiles</title>
</head>
<body>
<h1>welcome to the text analyazer.Enter your text below</h1>
<form action='/analyze' method="get">
   <textarea name='text' style='margin: 0px; width: 1253px; height: 169px;'></textarea><br>
    <input type="checkbox" name="removepunc">Remove Punctution <br>
    <input type="checkbox" name="fullcaps">upper case <br>
    <input type="checkbox" name="newlinesremover">newlinesremover<br>
    <input type="checkbox" name="extraspaceremover">extraspaceremover<br>
     <input type="checkbox" name="charcounter">char counter<br>
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>